<!DOCTYPE html>
<html lang="en">
<head>
<title>Jordan Harris</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:}
</style>
</head>
<body>
  <!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Jordan<br>Harris</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="#Profile" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Showcase</a>
    <a href="#Skills" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">About me</a>
    <a href="#Professional Experience." onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Designers</a>
    <a href="#Education" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Packages</a>
    <a href="#Projects" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
    <a href="#Technical Skills" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Technical Skills</a>
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
    <a href="https://www.linkedin.com/in/jordanleeharris/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Linkedin</a>
    <a href="https://www.linkedin.com/in/jordanleeharris/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Github</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Jordan Harris</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
  <footer>
    {% block footer %}{% endblock %}
  <footer>
  </html>
