<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jordan Harris</title>
    <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="lottie-bg">
        <lottie-interactive path="static/Lottie/93539-background.json" style="position:absolute; right:0; left:0; height: 100%;" loop
            autoplay>
        </lottie-interactive>
    </div>
    <div class="w3-row">
      <div class="w3-container w3-card w3-white w3-opacity">

        <h2><b>Hi, im <a href="https://www.w3schools.com/w3css/default.asp" title="jordan Harris" target="_blank" class="w3-hover-opacity link-text">Jordan Harris<a>. I am a passionate and goals oriented individual with a classical Architectural background with a technical skill set that stems into building design, Project Management, Web Design, Data Science and Programming.  I have a keen passion for self development and I always have a new topic of interest or ongoing project. I'm also Passionate about inclusivity and accessibility with multiple related projects</b></h2>
      </div>
    </div>

    <!-- Lottie libraries -->
    <script type="text/javascript"
        src="https://unpkg.com/lottie-interactive@latest/dist/lottie-interactive.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>

    <!-- Our interactivity code -->
    <script type="text/javascript" src="/script.js"></script>
</body>

</html>
