<!doctype html>
<html>

  <head>
    <title>Jinja Demo Site</title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Smarter page templates with Flask & Jinja."
    />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/static/css/home.css" rel="stylesheet" />
  </head>

  <body>
    {% include 'navigation.html' %}
    <div class="container">
        <h1>Jinja Demo Site</h1>
        <p>Smarter page templates with Flask & Jinja.</p>
    </div>
  </body>

</html>
